.square {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 1vh solid black;
  position: relative;

}


.line {
  width: 40px;
  height: 10px;
  background-color: black;
  position: absolute;
  transition: all 0.3s ease-in-out;
  display: flex;
  
}

.line-1 {
  transform: rotate(deg);
  position: relative;
  top: 10%;
  left: 10%;
 
} 

.line-2 {
  transform: rotate(deg);
  position: relative;
  top: 20%;
  left: 10%;

}

.line-3 {
  transform: rotate(deg);
  position: relative;
  top: 40%;
  left: 10%;

}

.line-4 {
  transform: rotate(deg);
  position: relative;
  top: 50%;
  left: 10%;

}


.line-5 {
  transform: rotate(deg);
  position: relative;
  top: -30px;
  left: 55px;
}

.line-6 {
 transform: rotate(deg);
  position: relative;
  top: -20%;
  left: 55px;
 
}

.line-7 {
  transform: rotate(deg);
  position: relative;
  top: -1%;
  left:55px;


}

.line-8{
  transform: rotate(deg);
  position: relative;
  top: 10%;
  left: 55px;
}


.square:hover .line-1 {
  transform: rotate(15deg);
}

.square:hover .line-2 {
  transform: rotate(-15deg);
}

.square:hover .line-3 {
  transform: rotate(15deg);
}

.square:hover .line-4 {
  transform: rotate(15deg);
}


.square:hover .line-5 {
  transform: rotate(15deg);
}

.square:hover .line-6 {
  transform: rotate(-15deg);
}

.square:hover .line-7 {
  transform: rotate(-45deg);
}

.square:hover .line-8 {
  transform: rotate(20deg);
}
